<div class='page-header'>
<h1>お気に入りのレシピ</h1>
</div>
<div class='container-fluid'>
<div class='row'>
	<div class='col-md-6 col-md-offset-3'>
<% @myfavorites.each do |myfavorite| %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h5 class="panel-title"><span class="label label-black">メニュー名</span><%= link_to myfavorite.name, post_path(myfavorite) %><span class="label label-black">作成者</span><%= link_to myfavorite.user.name, user_path(myfavorite.user) %></h5>
	</div>
	<% if myfavorite.post_image.attached? %>
	<div class="panel-body">
		<%= image_tag myfavorite.post_image.variant(resize: "400x400"),class:'img-responsive' %>
	</div>
	<% end %>
</div>

<% end %>
</div>
</div>
</div>
<%= paginate @myfavorites %>