<div class='page-header'>
<h1>お気に入りのレシピ</h1>
</div>
<div class='container-fluid'>
<div class='row'>
	<div class='col-md-6 col-md-offset-3'>
<% @myfavorites.each do |myfavorite| %>
<div class="media">
	<div class="media-body">
		<h5 class="media-heading"><span class="label label-black">レシピ名</span><%= link_to myfavorite.name, post_path(myfavorite) %><span class="label label-black">作成者</span><%= link_to myfavorite.user.name, user_path(myfavorite.user) %></h5>
		<% if myfavorite.post_image.attached? %>
		<%= image_tag myfavorite.post_image.variant(resize: "400x400"),class:'img-responsive' %>
		<% end %>
	</div>
</div>
<% end %>
</div>
</div>
</div>
<%= paginate @myfavorites %>